:root {
  --accent-color: #282828;
  --button-color: #077BC2;
}

html,
body,
body *,
body *::before,
body &::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  height: -webkit-fill-available;
}

body {
  width: 100vw;
  min-height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 50px 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;;
  gap: 60px;
  background-image: url(./bg.svg);
  background-position: 0 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo {
  width: 100%;
  max-width: 66.45vw;
  cursor: pointer;
}

.logo-link--blue {
  display: none;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.46vw;
}

.form__message {
  width: 100%;
  height: 23.58vw;
  padding: 2.24vw 2.53vw;
  font-size: 1.95vw;
  font-weight: 400;
  line-height: 115%;
  border: none;
  border-radius: 2.92vw;
  box-shadow: 0 0 100px 0 #FFFFFF80 inset;
  background-color: #FFFFFFaa;
  backdrop-filter: blur(100px);
  resize: none;
  color: var(--accent-color);
}

.form__button {
  padding: 1.66vw 0;
  font-size: 1.85vw;
  line-height: 115%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  border: none;
  border-radius: 2.92vw;
  box-shadow: 0px 0px 100px 0px #00000080 inset;
  background-color: var(--accent-color);
  color: #FFF;
  cursor: pointer;
}

/* Theme */
.main-wrapper.theme-blue {
  background-image: url(./bg-blue.svg);
}

.main-wrapper.theme-blue .logo-link {
  display: none;
}

.main-wrapper.theme-blue .logo-link--blue {
  display: block;
}

.main-wrapper.theme-blue .form__button {
  box-shadow: none;
  background-color: #FFF;
  color: var(--accent-color);
}

.buttons-wrapper {
  flex-grow: 1;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.main-button {
  padding: 28px;
  display: flex;
  justify-content: flex-start;
  align-items: start;
  font-family: 'Verdana', sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 100%;
  text-align: left;
  border: none;
  border-radius: 52px;
  box-shadow: 0 0 100px 0 #FFFFFF80 inset;
  cursor: pointer;
  opacity: 0.5;
  background-color: var(--button-color);
  background-repeat: no-repeat;
  color: white;
}
.main-button--active {
  opacity: 1;
  box-shadow: 0 0 0 6px #FFFFFF inset, 0 0 100px 0 #FFFFFF80 inset;
}
.main-button--nps {
  background-size: 70%;
  background-position: center center;
}
.main-button--man {
  background-size: contain;
  background-position: center 90%;
}
.main-button--tech {
  background-size: 55%;
  background-position: center bottom;
}
.main-button--bridge {
  background-size: 60%;
  background-position: 90% 70%;
}

/* Responsive */
/* @media only screen and (max-height: 1024px) {
  .main-wrapper {
    gap: 10vw;
  }
} */